<h1>This is the About page</h1>
<p>This blog is intended to be a place for the creator to update readers on his or her regular programming progress.</p>
<br/><p>The styling will be included at a later period.</p>
<br/><p>Users who are not the creator and who have proper credentials can comment on different posts by the main user.</p>
<p>As of right now, however there is no way of determining teh difference between the creator and users aside from the difference in passwords (they share a username) </p>
<%= link_to 'index', welcome_index_path %>
